#video {
    background-color: #000000;
    width: 480px;
    height: 360px;
    border: 1px solid #000000;
}

.controls {
    width: 200px;
}

.controls td {
    /*border: 1px solid #000;*/
}

.border {
    border: 1px solid #ff0000;
}

#pause {
    position: absolute;
    bottom: 50px;
    left: 50%;
    visibility: hidden;
}