<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Tello</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/static/css/lib/uikit.min.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
    <!-- UIkit JS -->
    <script src="/static/js/lib/uikit.min.js"></script>
    <script src="/static/js/lib/uikit-icons.min.js"></script>
    <script src="/static/js/lib/jquery-3.4.1.min.js"></script>
</head>
 
<body>

    <!--HEADER-->
    <header id="top-head">
        <div class="uk-container uk-container-expand uk-background-primary">
            <nav class="uk-navbar uk-light">
                <div class="uk-navbar-left">
                    <div class="uk-navbar-item">
                        <a class="uk-logo" href="#"><img class="custom-logo" src="/static/img/db_logo.png" width="200" /></a>
                    </div>
                    <ul class="uk-navbar-nav uk-visible@s">
                        <li><a>Battery:&nbsp;<span id="battery">-</span></a></li>
                        <li><a>Altitude:&nbsp;<span id="altitude">-</span></a></li>
                        <li><a>ToF:&nbsp;<span id="tof">-</span></a></li>
                        <li><a>Roll:&nbsp;<span id="roll">-</span></a></li>
                        <li><a>Pitch:&nbsp;<span id="pitch">-</span></a></li>
                        <li><a>Yaw:&nbsp;<span id="yaw">-</span></a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li><button class="uk-button uk-button-primary" id="connect">Connect</button></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--/HEADER-->

    <div>
        We need speed
    </div>

    <div class="uk-padding-small">
        <button class="uk-button uk-button-primary uk-button-small" id="takeoff" disabled>Takeoff</button>
        <button class="uk-button uk-button-primary uk-button-small" id="land" disabled>Land</button>

        <span class="uk-align-right">
            <button class="uk-button uk-button-primary uk-button-small" id="flip_forward" disabled>Flip Forward</button>
            <button class="uk-button uk-button-primary uk-button-small" id="flip_backward" disabled>Flip Backward</button>
            <button class="uk-button uk-button-primary uk-button-small" id="flip_left" disabled>Flip Left</button>
            <button class="uk-button uk-button-primary uk-button-small" id="flip_right" disabled>Flip Right</button>
        </span>
    </div>

    <div class="uk-text-center" style="width: 100%" uk-grid>

        <div class="uk-width-1-2">
            <img id="video" src="/video_stream" />

            <div class="uk-padding-small">
                <button class="uk-button uk-button-primary uk-button-small" id="streamon" disabled>Stream On</button>
                <button class="uk-button uk-button-primary uk-button-small" id="streamoff" disabled>Stream Off</button>
                <button class="uk-button uk-button-primary uk-button-small" id="take_photo" disabled>Take Photo</button>
                <button class="uk-button uk-button-primary uk-button-small" id="record_video" disabled>Record Video</button>
            </div>

            <div class="uk-flex-center uk-padding" uk-grid>
                <div class="uk-grid-1-2">
                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><button id="fly_up" class="uk-button uk-button-primary uk-text-nowrap uk-button-small" uk-tooltip="title: Fly Up; pos: top" disabled>▲</button></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><button id="yaw_left" class="uk-button uk-button-primary uk-text-nowrap uk-button-small" uk-tooltip="title: Yaw Left; pos: left" disabled>◀</button></td>
                                <td></td>
                                <td><button id="yaw_right" class="uk-button uk-button-primary uk-text-nowrap uk-button-small" uk-tooltip="title: Yaw Right; pos: right" disabled>▶</button></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button id="fly_down" class="uk-button uk-button-primary uk-text-nowrap uk-button-small" uk-tooltip="title: Fly Down; pos: bottom" disabled>▼</button></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="uk-grid-1-2">
                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><button id="fly_forward" class="uk-button uk-button-small uk-button-primary uk-text-nowrap" uk-tooltip="title: Fly Forward; pos: top" disabled>▲</button></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><button id="fly_left" class="uk-button uk-button-small uk-button-primary uk-text-nowrap" uk-tooltip="title: Fly Left; pos: left" disabled>◀</button></td>
                                <td><input class="uk-input" type="text" placeholder="20" style="width: 50px" /> in</td>
                                <td><button id="fly_right" class="uk-button uk-button-small uk-button-primary uk-text-nowrap" uk-tooltip="title: Fly Right; pos: right" disabled>▶</button></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button id="fly_backward" class="uk-button uk-button-small uk-button-primary uk-text-nowrap" uk-tooltip="title: Fly Down; pos: bottom" disabled>▼</button></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="uk-width-1-2">
            <iframe src="https://dev.droneblocks.io/tello.html" width="100%" height="100%"></iframe>
        </div>
    </div>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/keyboard.js"></script>
</body>
</html>